h1{
  color: darkblue;
  text-align: center;
  background-color: white;
}
.copyright{
  color: darkblue;
  font-weight: bold;
}
.intro{
  color: red;
}



body{
  background-image: url(../images/blessedtree.jpeg
);
}


@media screen and ( min-width: 30px) {
  body{
    background-color: skyblue;

  }

}
img{
  width: 290px;
  border-radius:40cm;
  text-align: center;
  border-color: darkblue;
  border-width: medium;
}
.images{
  text-align: center;
  color: darkblue;
}
.contain{
  background-color: lightgrey;
  font-family: cursive;
}
.column{
font-size: 15px;
columns: 3;
color: white;
}
.animals{
  background-color: blue;
}
.other{
  background-color: blue;
}
.lodges{
  background-color: blue;
}
