h1{
  color: blue;
  text-align: center;
}
.intro{
  color: maroon;
}
h2{
  color: blue;
  text-align: left;
}


body{
  background-image: url(../images/blessedtree.jpeg
);
}


@media screen and ( min-width: 30px) {
  body{
    background-color: skyblue;

  }

}
img{
  width: 280px;
  border-radius:40cm;
  text-align: center;
}
.images{
  text-align: center;
}
h4{
  color: green;
}
.container{
  background-color: white;
}
