h1{
  color: blue;
  text-align: center;
}
h2{
  color: blue;
  text-align: center;
}
body{
  background-image: url(../images/blessedtree.jpeg

);
}

}
.intro{
  text-align:left;
  color: black;

}
@media screen and ( min-width: 30px) {
  body{
    background-color: skyblue;

  }

}
img{
  float: center;
  width: 50px;
}
